<% layout('layouts/boilerplate') %> 
    <h1>Edit Campgrounds Form</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id = "title" 
            name="campground[title]" placeholder="Name a Campground" value="<%= campground.title %>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id = "price" 
            name="campground[price]" placeholder="Price of Campground" value="<%= campground.price %>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id = "description" 
            name="campground[description]" placeholder="Description of Campground" value="<%= campground.description %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id = "location" 
            name="campground[location]" placeholder="Location of Campground" value="<%= campground.location %>">
        </div>
        <button type="submit"  class="btn btn-outline-success">Update</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %> ">Back to <%= campground.title %> </a>
        <br>
        <br>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
    

