<% layout('layouts/boilerplate') %> 
    <h1 class="display-4"><%= campground.title %> </h1>
    <h3 class="display-4"><%= campground.location %> </h3>
    <img src="<%= campground.image %>" alt="Responsive image" class="img-fluid">
    <p><%= campground.description %> </p>

    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">
            DELETE
        </button>
    </form>
    
    <div>
        <br>
        <br>
        <a href="/campgrounds">All Campgrounds</a>
        <br>
        <a href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
    </div>
